@import "color";
@import "reset";

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 24px 21px 24px;
  justify-content: space-around;

  .left_nav {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // background-color: aqua;
  
   

    .burger {
      width: 24px;
      height: 18px;
      display: block;
    }
    ul {
       left: 100px;
       width:252px ;
       height: 292px;
    background-color: $blackColor;
      display: none;
      position: absolute;
      padding-bottom: 24px;


      li {
        align-items: center;
        justify-content: center;
        position: relative;
        list-style: none;
        color: #fff;
        text-align: center;

        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
      }
      button{
        
        color:$whiteColor ;  
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        background-color:$pinkColor ;
        border: none;
       
        &:hover{
        opacity: 0.5;
        }
      }
    }

    &:hover ul{
        display: block;

    }
  }
}
main {
    .all-div{
        padding-bottom:50px ;
    }
  .image_right {
    padding-bottom: 25px;
    width: 375px;
   height: 250px;
  }
  .texst-left {
    padding-left: 24px;
    padding-right: 24px;
    h2{
      color: #000;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      padding-bottom: 15px;
      
      
    }
    p {
      color: #000;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
      padding-bottom:40px ;
    
    }
    .button_1 {
    width: 177px;
      height: 72px;
      background-color: $pinkColor;
      border: none;
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      
      &:hover{
        opacity: 0.5;
      }
    }
  }
  .coffi{
    background-color:$darkColor ;
    .box1{
    padding-left: 24px;
    padding-right:24px ;
    padding-top:72px ;
  h2{
    color:$pinkColor ;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    padding-bottom:24px ; 
   
    span{
    color: $whiteColor;    
    }
  }
  p{
    color: $whiteColor;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    padding-bottom: 40px;
  }

  h4{
  color: #F94F4F;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  }

    }

  }
  .cards{
    background-color:$pinkColor ;
    padding-top:96px ;
    padding-left:24px ;
    padding-right: 24px;
    padding-bottom: 96px;
    h2{
        color:$whiteColor;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 40px; 
        padding-bottom:49px;
    
    }
    .card{
   
     position: relative;
     padding-bottom:40px ;
        img{
        position:absolute;
        padding-bottom: 15px;
        top: -25px;
        left: -15px;
        
        }
      h3{
        color:$whiteColor ;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: 25px;
        padding-bottom: 15px; 
      }
      p{
        color: $whiteColor;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        align-items: center;  
        padding-right: 24px;
      }
    }
  }
  .container{
position: relative;
  


    .photo_texsts{
        width: 100%;
        position: absolute;
        display: inline-flex;
      padding-left: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
        background-color: aqua;
       
    

  h4{
    color: #FFF;
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
  }
  p{
color: #FFF;
text-align: right;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px;

  }


    }

  }
  .contain_left{
   background-color:$darkColor ; 
   padding-left:24px ;
   padding-right:24px ;
   padding-top: 0;
   

   h2{
color: #FFF;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: 40px;
padding-bottom:24px ;
padding-top:64px ;
   }
  }
  .box2{
   
   padding-left: 24px;
   padding-right: 24px;
   padding-bottom: 100px;
    h2{
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 40px;
        padding-bottom: 70px; 
        padding-top: 100px;
    }
    button{
        width: 199px;
        height: 64px;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
       line-height: normal;
       background-color:$pinkColor ;  
       border: none;
       
      &:hover{
      opacity: 0.5;
      }    
    }

  }
}
